{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_export_enabled, true}.

{deps, [
    {mod_gen, "0.1.*",
        {git, "git@github.com:EchoTeam/mod_gen.git", {tag, "v0.1.0"}}},
    {riakc_cluster, "1.1.*",
        {git, "git@github.com:EchoTeam/riakc_cluster.git", {tag, "v1.1.6"}}},
    {test_utils, ".*",
        {git, "git@github.com:EchoTeam/test_utils.git", {branch, "master"}}}
]}.

{post_hooks, [
    {clean, "rm -f ./test/*.beam"},
    {clean, "rm -rf ./logs"}
]}.
